
<mat-card>
    <mat-card-header>
      <mat-card-title> Test Angular </mat-card-title>
      <mat-card-subtitle>Test angular concepts</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
       <mat-list>
        <mat-list-item><button mat-raised-button color="primary" (click)="processTest('directives')">Test Directives</button></mat-list-item>
        <mat-list-item><button mat-raised-button color="primary" (click)="processTest('fileupload')">Test File Upload</button></mat-list-item>
        <mat-list-item><button mat-raised-button color="primary" (click)="processTest('canvasdrawing')">Test Canvas Drawing</button></mat-list-item>
        <mat-list-item><button mat-raised-button color="primary" (click)="processTest('photocapture')">Test Photo Capture</button></mat-list-item>
        <mat-list-item><button mat-raised-button color="primary" (click)="processTest('googlemaps')">Test Google maps</button></mat-list-item>
        <mat-list-item><button mat-raised-button color="primary" (click)="processTest('imagmagnifier')">Test Image Magnifier</button></mat-list-item>
        <mat-list-item><button mat-raised-button color="primary" (click)="processTest('componentunittests')">Component unit tests</button></mat-list-item>
        <mat-list-item><button mat-raised-button color="primary" (click)="processTest('browserdetection')">Browser/Device detection</button></mat-list-item>

    </mat-list>
       
       <!-- <button mat-raised-button color="primary" (click)="processTest('login')">Login</button> -->
    </mat-card-content>

    <mat-card-footer>
        written by Zyler
    </mat-card-footer>

</mat-card>
